


.page-login {
    background-image: url("../../images/admin/login.jpg");
     
}

.height-full {
    height: 100% !important;
}

.left-body {
    width: 75%;
    height: 100%;
    width: 75%;
    float: left;
    height: 100%;
}
.left-body .page-band{

    width: 800px;
    height: 600px;

    margin: 0 auto;
}
.left-body .page-band .page-label{
    width: 500px;
    height: 500px;
    margin-top: 150px;
}

.right-body {
    background: #ffffff;
    width: 25%;
    float: right;
    height: 100%;
}

.right-body .login-body{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    /*background: springgreen;*/

}
.right-body .login-body .login-lable{

    margin-top: 150px;
    /*background: ghostwhite;*/
    text-align: center;

}
.font{
    font-size: 20px;
    color: #ffffff;
}
ul li{
    font-size: 14px;
    color: #ffffff;
}
.error{
    color:red;
}
.right{
    color:green;
}


