
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after, .clearfix::before {
    display: table;
    content: '';
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
a {
    outline: none;
    color: #666;
    text-decoration: none;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;

}
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}
.red {
    font-weight: 700;
    color: #900;
}
.green {
    color: #360;
}

.bottom-0{
	position: fixed;
    bottom: 0px;
}

.hidden{
    display: none;
}